<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>All Events</h1>
    <a href="/users/<%= user._id %>/events/new">Add New Event</a>
    <ul>
        <% event.forEach(event => { %>
            <li>
                <a href="/users/<%= user._id %>/events/<%= event._id %>"><%= event.title %></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>